<div class="modal-header">
  <h3>{{vm.title}}</h3>
</div>
<div class="modal-body">
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">Age</label>
    <input ng-model="vm.person.age" class="md-input">
  </md-input-container>
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">First Name</label>
    <input ng-model="vm.person.firstName" class="md-input">
  </md-input-container>
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">Last Name</label>
    <input ng-model="vm.person.lastName" class="md-input">
  </md-input-container>
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">City</label>
    <input ng-model="vm.person.city" class="md-input">
  </md-input-container>
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">State</label>
    <input ng-model="vm.person.state" class="md-input">
  </md-input-container>
  <md-input-container class="md-block flex-gt-md">
    <label class="md-body-1">Zip Code</label>
    <input ng-model="vm.person.zip" class="md-input">
  </md-input-container>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.save()">Save</button>
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>